In [2]:
import timeit
import datetime
import math
import csv

In [3]:
#still to do: 36, 37

In [4]:
li1=[1,2,3]
tup1=(1,2,3)

In [5]:
li1[0]

1

In [6]:
tup1[0]

1

In [7]:
t = [('a', 0), ('c', 2), ('b', 1)]
dict(t)

{'a': 0, 'b': 1, 'c': 2}

In [8]:
l = [['a',2],['b',1]]
dict(l)

{'a': 2, 'b': 1}

In [9]:
a = {'a':3,(1,2):4}

In [10]:
a

{(1, 2): 4, 'a': 3}

In [11]:
known = {0:0, 1:1}

def fibonacci(n):
    if n in known:
        return known[n]

    res = fibonacci(n-1) + fibonacci(n-2)
    known[n] = res
    return res

In [12]:
fibonacci(50)

12586269025

In [22]:
s1 = set([2,2,3])

In [23]:
s1

{2, 3}

In [21]:
type(s1)

set

In [27]:
s2 = set(('a','a','b'))

In [34]:
timeit.timeit('"-".join(str(n) for n in range(100))', number=1000)

0.046251388965174556

In [38]:
def iter_test(iterable):
    for i in iterable:
        pass

In [41]:
r = range(10)

In [42]:
'''timeit(
    "iter_test(iterable)",
    setup="iterable = set(r))",
    number=1000)

timeit(
    "iter_test(iterable)",
    setup="from __main__ import iter_test; iterable = list(range(100))",
    number=1000)

timeit(
    "iter_test(iterable)",
    setup="from __main__ import iter_test; iterable = tuple(range(100))",
    number=1000)'''
timeit.timeit('"-".join(str(n) for n in range(100))', number=1000)

'timeit(\n    "iter_test(iterable)",\n    setup="iterable = set(r))",\n    number=1000)\n\ntimeit(\n    "iter_test(iterable)",\n    setup="from __main__ import iter_test; iterable = list(range(100))",\n    number=1000)\n\ntimeit(\n    "iter_test(iterable)",\n    setup="from __main__ import iter_test; iterable = tuple(range(100))",\n    number=1000)'

In [104]:
#return list that only includes even numbers
mylist1=list(range(5))

In [109]:
mylist1
def is_even(list1):
    res = []
    for i in list1:
        if i%2==0:
            res.append(i)
    return res

def return_if_even(x):
    if x%2==0:return x
    
def sqr(x):
    return x**2

In [127]:
#experiments with lambda
#f = lambda my_list: is_even(mylist1)
#f = map(lambda v: v%2,mylist1)
#f = lambda v:if v%2==0:v

#successful list comprehension lambda experiment, but not elegant with 5 v's
#f = lambda v:[v for v in v if v % 2==0]

#trying filter now
list(filter(lambda x:x%2==0,mylist1))

[0, 2, 4]

In [126]:
f(mylist1)

TypeError: 'filter' object is not callable

In [118]:
mapv = map(sqr,mylist1)

In [124]:
print(list(mapv))

[]

In [161]:
ds = '01-02-2013'
de = '01-03-2013'
dts = datetime.datetime.strptime(ds, "%m-%d-%Y")
dte = datetime.datetime.strptime(de, "%m-%d-%Y")
def convert_to_dt(x):
    return datetime.datetime.strptime(x, "%m-%d-%Y")

def difference_in_days(date1, date2):
    return (convert_to_dt(date2)-convert_to_dt(date1)).days

In [162]:
difference_in_days(ds, de)

1

In [158]:
dts

datetime.datetime(2013, 1, 2, 0, 0)

In [160]:
(dte-dts).days

1

In [163]:
celsius = [39.2, 36.5, 37.3, 0, 20]
# write your answer in one line. use a list comprehension. use the variable "celsius"
fahrenheit = [(i*9/5) + 32 for i in celsius]

In [164]:
fahrenheit

[102.56, 97.7, 99.14, 32.0, 68.0]

In [166]:
count = 5
'Number of donuts: %s' %count

'Number of donuts: 5'

In [190]:
v = 'babble'

In [191]:
vl=list(v)

In [193]:
vl[1:]

['a', 'b', 'b', 'l', 'e']

In [202]:
counter = 1
for l in vl[1:]:
    if vl[0] == l:
        vl[counter]='*'
    counter+=1

In [203]:
vl

['b', 'a', '*', '*', 'l', 'e']

In [8]:
#22
w1 = 'pod'
w2 = 'mix'

def first_letter(a,b):
    la,lb=a[:1],b[:1]
    lia,lib=list(a),list(b)
    lia[0]=lb
    lib[0]=la
    return "".join(lia) + ' ' + "".join(lib)

first_letter(w1,w2)
#def mix_up(a, b):

'mod pix'

In [25]:
w3='abcdefghi'
w3[-3:]
w3[3:]

'defghi'

In [18]:
w3+'ly'

'abcdefly'

In [26]:
#how to remember slicing rules
#negative numbers mean (-3) function works from back, positive numbers mean function works from front
#if : is before number and negative, it means strip X characters from back e.g. abcdefghi [:-3] is abcdef
#if : is after and negative, it means just take the last X characters e.g. [-3:] = ghi
#if : is before number and positive, it means strip everything after X characters e.g. [:3] = abc
#if : is after and positive, it means strip the first X characters e.g. [3:] = defghi

In [33]:
#24 "Not Bad"
# find placement of Not and bad in string, if bad is after not replace with good
strNB = "This dinner is not that bad if you ask my opinion"
not_start = strNB.find('not')

In [34]:
bad_start = strNB.find('bad')

In [35]:
strNB[:not_start] + 'good' + strNB[bad_start+3:]

'This dinner is good if you ask my opinion'

In [36]:

def not_bad(s):
    not_start = s.find('not')
    bad_start = s.find('bad')
    if not_start < bad_start:
        rep = 'good'
        return strNB[:not_start] + 'good' + strNB[bad_start+3:]
    else:
        return s

In [37]:
not_bad(strNB)

'This dinner is good if you ask my opinion'

In [92]:
#25 half and sort
#split 2 strings in half, if odd extra letter goes on front, then
#return 1 string a front + b front + a back + b back
s = 'Kitten'
s2 = 'Donut'

In [90]:
str_split(s)

('Kit', 'ten')

In [91]:
front_back(s,s2)

'KitDontenut'

In [98]:
#26 match ends
#str > 1 in length
# first and last characters are same
#return count of strings in list

def first_last(s):
    if list(s)[0]==list(s)[-1]:
        return 1

def match_ends(l):
    res = 0
    for s in l:
        if len(s)>1:
            res =+ first_last(s)

In [97]:
first_last('aab')

In [99]:
#27

#sort list of strings but put x first
sList = ['ccc','bbb','aaa','xcc','xaa']
sList.sort()

In [100]:
sList

['aaa', 'bbb', 'ccc', 'xaa', 'xcc']

In [103]:
xList= []
for s in sList:
    if list(s)[0] == 'x':
        xList.append(s)

In [104]:
xList

['xaa', 'xcc']

In [105]:
sList

['aaa', 'bbb', 'ccc', 'xaa', 'xcc']

In [109]:
sList[:-len(xList)]

['aaa', 'bbb', 'ccc']

In [110]:
nList = xList + sList[:-len(xList)]

In [111]:
nList

['xaa', 'xcc', 'aaa', 'bbb', 'ccc']

In [129]:
def front_x(words):
    words.sort()
    xList=[]
    for w in words:
        if list(w)[0]=='x':
            xList.append(w)
    if not xList:
        return words
    else:
        return xList + words[:-len(xList)]

In [130]:
cList = ['atranaasdfasa', 'bbabeeeb', 'ccc', 'aa', 'cc']

In [131]:
front_x(cList)

['aa', 'atranaasdfasa', 'bbabeeeb', 'cc', 'ccc']

In [126]:
dList =[1]

In [127]:
type(dList)

list

In [128]:
if not dList: 
    print ('Dlist is empty')

In [144]:
#28 sort by 2nd part of tuples
tl = [(1,3),(2,1),(3,2)]
tl[1][-1]

1

In [145]:
def take_last(t):
    return t[-1]
def sort_last(tuples):
    tuples.sort(key=take_last)
    return tuples

In [146]:
sort_last(tl)

[(2, 1), (3, 2), (1, 3)]

In [183]:
#29 reduce adjacent matching #s
nums = [4,5,5,5,2,4,5,5,2,3,3]
        
        

def remove_adjacent(nums):
    if not nums:
        return nums
    nList = []
    for ind,i in enumerate(nums[:-1]):
        if i != nums[ind+1]:
            nList.append(i)
    nList.append(nums[-1:][0])
    return nList

In [184]:
remove_adjacent(nums)

[4, 5, 2, 4, 5, 2, 3]

In [175]:
adj_list[:-1]

[3, 2, 3, 3, 3]

In [225]:
#30 linear merge

lm1 = ['aa','aa','bb']
lm2 = ['aa','bb','cc']
nl = lm1+lm2

In [195]:
nl.sort()

In [196]:
nl

['aa', 'aa', 'aa', 'bb', 'bb']

In [197]:
'''timeit(
    "iter_test(iterable)",
    setup="iterable = set(r))",
    number=1000)

timeit(
    "iter_test(iterable)",
    setup="from __main__ import iter_test; iterable = list(range(100))",
    number=1000)

timeit(
    "iter_test(iterable)",
    setup="from __main__ import iter_test; iterable = tuple(range(100))",
    number=1000)'''
timeit.timeit('"-".join(str(n) for n in range(100))', number=1000)

0.037420632999783265

In [205]:
def non_linear_merge(list1, list2):
    nl = list1+list2
    nl.sort()
    return nl

In [217]:
if __name__=='__main__':
    from timeit import Timer
    t = Timer("non_linear_merge(['aa','aa','bb'],['aa','bb'])", "from __main__ import non_linear_merge")
    print (t.timeit())

1.2495659480009635

In [218]:
def linear_merge(list1, list2):
    result = []
    while list1 and list2:
        result.append((list1 if list1[-1] > list2[-1] else list2).pop(-1))
    return (result + list1 + list2)[-1::-1]

In [219]:
if __name__=='__main__':
    from timeit import Timer
    t = Timer("linear_merge(['aa','aa','bb'],['aa','bb'])", "from __main__ import linear_merge")
    print (t.timeit())

3.6614165930004674

In [15]:
#31 parsing
with open('football.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        print (row)

['Team', 'Games', 'Wins', 'Losses', 'Draws', 'Goals', 'Goals Allowed', 'Points']
['Arsenal', '38', '26', '9', '3', '79', '36', '87']
['Liverpool', '38', '24', '8', '6', '67', '30', '80']
['Manchester United', '38', '24', '5', '9', '87', '45', '77']
['Newcastle', '38', '21', '8', '9', '74', '52', '71']
['Leeds', '38', '18', '12', '8', '53', '37', '66']
['Chelsea', '38', '17', '13', '8', '66', '38', '64']
['West_Ham', '38', '15', '8', '15', '48', '57', '53']
['Aston_Villa', '38', '12', '14', '12', '46', '47', '50']
['Tottenham', '38', '14', '8', '16', '49', '53', '50']
['Blackburn', '38', '12', '10', '16', '55', '51', '46']
['Southampton', '38', '12', '9', '17', '46', '54', '45']
['Middlesbrough', '38', '12', '9', '17', '35', '47', '45']
['Fulham', '38', '10', '14', '14', '36', '44', '44']
['Charlton', '38', '10', '14', '14', '38', '49', '44']
['Everton', '38', '11', '10', '17', '45', '57', '43']
['Bolton', '38', '9', '13', '16', '44', '62', '40']
['Sunderland', '38', '10', '10', '18', '29', '51', '40']
['Ipswich', '38', '9', '9', '20', '41', '64', '36']
['Derby', '38', '8', '6', '24', '33', '63', '30']
['Leicester', '38', '5', '13', '20', '30', '64', '28']

In [45]:
import csv

def read_data(filename):
    """Returns a list of lists representing the rows of the csv file data.

    Arguments: filename is the name of a csv file (as a string)
    Returns: list of lists of strings, where every line is split into a list of values. 
        ex: ['Arsenal', 38, 26, 9, 3, 79, 36, 87]
    """
    with open('football.csv') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        res = []
        for row in csv_reader:
            res.append(row)
        return res


def get_index_with_min_abs_score_difference(goals):
    """Returns the index of the team with the smallest difference
    between 'for' and 'against' goals, in terms of absolute value.

    Arguments: parsed_data is a list of lists of cleaned strings
    Returns: integer row index
    """
    difflist = [abs(int(x[5])-int(x[6])) for x in footballTable[1:]]
    return difflist.index(min(difflist))+1
    
    
def get_team(index_value, parsed_data):
    """Returns the team name at a given index.
    
    Arguments: index_value is an integer row index
               parsed_data is the output of `read_data` above
               
    Returns: the team name
    """
    return parsed_data[index_value][0]

In [46]:
footballTable = read_data('football.csv')
footballTable[1:]

[['Arsenal', '38', '26', '9', '3', '79', '36', '87'],
 ['Liverpool', '38', '24', '8', '6', '67', '30', '80'],
 ['Manchester United', '38', '24', '5', '9', '87', '45', '77'],
 ['Newcastle', '38', '21', '8', '9', '74', '52', '71'],
 ['Leeds', '38', '18', '12', '8', '53', '37', '66'],
 ['Chelsea', '38', '17', '13', '8', '66', '38', '64'],
 ['West_Ham', '38', '15', '8', '15', '48', '57', '53'],
 ['Aston_Villa', '38', '12', '14', '12', '46', '47', '50'],
 ['Tottenham', '38', '14', '8', '16', '49', '53', '50'],
 ['Blackburn', '38', '12', '10', '16', '55', '51', '46'],
 ['Southampton', '38', '12', '9', '17', '46', '54', '45'],
 ['Middlesbrough', '38', '12', '9', '17', '35', '47', '45'],
 ['Fulham', '38', '10', '14', '14', '36', '44', '44'],
 ['Charlton', '38', '10', '14', '14', '38', '49', '44'],
 ['Everton', '38', '11', '10', '17', '45', '57', '43'],
 ['Bolton', '38', '9', '13', '16', '44', '62', '40'],
 ['Sunderland', '38', '10', '10', '18', '29', '51', '40'],
 ['Ipswich', '38', '9', '9', '20', '41', '64', '36'],
 ['Derby', '38', '8', '6', '24', '33', '63', '30'],
 ['Leicester', '38', '5', '13', '20', '30', '64', '28']]

In [47]:
#abs(int(footballTable[1][5])-int(footballTable[1][6]))
difflist = [abs(int(x[5])-int(x[6])) for x in footballTable[1:]]
difflist.index(min(difflist))+1
#res=[]
#for i,x in enumerate(footballTable[1:]):
#    res.append(i,abs(int(footballTable[x][5])-int(footballTable[x][6])))
#res

8

In [48]:
minRow = get_index_with_min_abs_score_difference(footballTable)
print(str(get_team(minRow, footballTable)))

Aston_Villa

In [ ]:
'''with open('goals.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')
'''

In [228]:
#35 improve efficiency of solution using sets:
# original solution: return [x for x in list1 if x in list2]
# Big O efficiency. for loop makes it O(n), adding in the if and in clauses add more complexity, but how much?
# I guess each in command is probably another constant coefficient, so either O(2n) or O(3n) which reduces to O(n) anyway.


def common_member(a, b): 
    a_set = set(a) 
    b_set = set(b) 
    if (a_set & b_set): 
        print(a_set & b_set) 
    else: 
        print("No common elements")

In [229]:
common_member(lm1,lm2)

{'aa', 'bb'}